@charset "UTF-8";
/* Icon variables */
/* Grids & dimensions */
/* Buttons */
/* Icon variables */
/* Grids & dimensions */
/* Buttons */
/*
 * this element becomes a flex container in the given direction
 * supply `$margin` to put space between each child
 * supply `$inline: inline` to use `display: flex-inline`.
 * customize `flex: 1 1` child selector with $fill.
*/
/*
 * applies margin along axis of direction between every direct child
 * with no margins on either end
 * $dir: row | column
 * $margin: margin[-right | -bottom] value
*/
/*
c-active
c-disabled
c-loading
.c-intent-primary
.c-intent-success
.c-intent-warning
.c-intent-danger
.c-align-left
.c-align-right
*/
.c-button {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  min-width: 30px;
  min-width: 30px; }
  .c-button > * {
    /* the flex-grow CSS property sets the flex grow factor(弹性增长因子) of a flex item main size */
    /* it specifies how much of the remaining space in the flex container should be assigned to the item */
    flex-grow: 0;
    /* the flex-grow CSS property sets the flex shrink factor of a flex item main size */
    /* If the size of all flex items are larger than the flex container, items shrink to fit according to flex-shrink */
    flex-shrink: 0; }
  .c-button > .c-fill {
    flex-grow: 1;
    flex-shrink: 1; }
  .c-button::before,
  .c-button > * {
    margin-right: 7px; }
  .c-button:empty::before,
  .c-button > :last-child {
    margin-right: 0; }
  .c-button:empty {
    padding: 0 !important; }
  .c-button:disable, .c-button.c {
    cursor: not-allowed; }
  .c-button.c-align-right,
  .c-align-right .c-button {
    text-align: right; }
  .c-button.c-align-left,
  .c-align-left .c-button {
    text-align: left; }
  .c-button:not([class*="c-intent-"]) {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    background-color: #f5f8fa;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    color: #182026; }
    .c-button:not([class*="c-intent-"]):hover {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
      background-clip: padding-box;
      background-color: #ebf1f5; }
    .c-button:not([class*="c-intent-"]):active, .c-button:not([class*="c-intent-"]).c-active {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 1px 2px rgba(16, 22, 26, 0.2);
      background-color: #d8e1e8;
      background-image: none; }
    .c-button:not([class*="c-intent-"]):disabled, .c-button:not([class*="c-intent-"]).c-disabled {
      outline: none;
      box-shadow: none;
      background-color: rgba(206, 217, 224, 0.5);
      background-image: none;
      cursor: not-allowed;
      color: rgba(92, 112, 128, 0.6); }
      .c-button:not([class*="c-intent-"]):disabled.c-active, .c-button:not([class*="c-intent-"]):disabled.c-active:hover, .c-button:not([class*="c-intent-"]).c-disabled.c-active, .c-button:not([class*="c-intent-"]).c-disabled.c-active:hover {
        background: rgba(206, 217, 224, 0.7); }
  .c-button.c-intent-primary {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
    background-color: #137cbd;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    color: #ffffff; }
    .c-button.c-intent-primary:hover, .c-button.c-intent-primary:active, .c-button.c-intent-primary.c-active {
      color: #ffffff; }
    .c-button.c-intent-primary:hover {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
      background-color: #106ba3; }
    .c-button.c-intent-primary:active, .c-button.c-intent-primary.c-active {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 1px 2px rgba(16, 22, 26, 0.2);
      background-color: #0e5a8a;
      background-image: none; }
    .c-button.c-intent-primary:disabled, .c-button.c-intent-primary.c-disabled {
      border-color: transparent;
      box-shadow: none;
      background-color: rgba(19, 124, 189, 0.5);
      background-image: none;
      color: rgba(255, 255, 255, 0.6); }
  .c-button.c-intent-success {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
    background-color: #0f9960;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    color: #ffffff; }
    .c-button.c-intent-success:hover, .c-button.c-intent-success:active, .c-button.c-intent-success.c-active {
      color: #ffffff; }
    .c-button.c-intent-success:hover {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
      background-color: #0d8050; }
    .c-button.c-intent-success:active, .c-button.c-intent-success.c-active {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 1px 2px rgba(16, 22, 26, 0.2);
      background-color: #0a6640;
      background-image: none; }
    .c-button.c-intent-success:disabled, .c-button.c-intent-success.c-disabled {
      border-color: transparent;
      box-shadow: none;
      background-color: rgba(15, 153, 96, 0.5);
      background-image: none;
      color: rgba(255, 255, 255, 0.6); }
  .c-button.c-intent-warning {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
    background-color: #d9822b;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    color: #ffffff; }
    .c-button.c-intent-warning:hover, .c-button.c-intent-warning:active, .c-button.c-intent-warning.c-active {
      color: #ffffff; }
    .c-button.c-intent-warning:hover {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
      background-color: #bf7326; }
    .c-button.c-intent-warning:active, .c-button.c-intent-warning.c-active {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 1px 2px rgba(16, 22, 26, 0.2);
      background-color: #a66321;
      background-image: none; }
    .c-button.c-intent-warning:disabled, .c-button.c-intent-warning.c-disabled {
      border-color: transparent;
      box-shadow: none;
      background-color: rgba(217, 130, 43, 0.5);
      background-image: none;
      color: rgba(255, 255, 255, 0.6); }
  .c-button.c-intent-danger {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
    background-color: #db3737;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    color: #ffffff; }
    .c-button.c-intent-danger:hover, .c-button.c-intent-danger:active, .c-button.c-intent-danger.c-active {
      color: #ffffff; }
    .c-button.c-intent-danger:hover {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
      background-color: #c23030; }
    .c-button.c-intent-danger:active, .c-button.c-intent-danger.c-active {
      box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 1px 2px rgba(16, 22, 26, 0.2);
      background-color: #a82a2a;
      background-image: none; }
    .c-button.c-intent-danger:disabled, .c-button.c-intent-danger.c-disabled {
      border-color: transparent;
      box-shadow: none;
      background-color: rgba(219, 55, 55, 0.5);
      background-image: none;
      color: rgba(255, 255, 255, 0.6); }
  .c-button[class*="c-intent-"] .c-button-spinner .c-spinner-head {
    stroke: #ffffff; }
