body,
html {
  width: 100%;
}

.demos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.demos>div {
  margin-top: 30px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.inline {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  list-style: none;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 5px 7px;
}